@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffbfb;
  --foreground: #171717;
  --logoground: #002050;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --linkColor: #1f2937;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.textHead {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5651e5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
